body {
	margin: 0px;
	position: absolute;
	min-width: 200px;
	width: 100%;
	height: auto;
	min-height: 100%;
}

header {
	width: 100%;
	min-height: 50px;
}

.seitentitel{
	position: absolute;
	text-align: center;
	padding-top: 5px;
	width: 100%;
	font-size: 2em;
}

.navigation {
	position:absolute;
	margin: 15px;
	padding: 5px;
	background-color: rgba(50,50,150,0.8);
	right: 5px;
	text-align: right;
	cursor: pointer;
	z-index: 2;
}

.navigation:hover {
	background-color: rgb(150,50,150);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
	display: none;
}

li a {
  width: 150px;
	text-align: left;
	display: block;
	padding: 4px;
}

li a:hover {
  background-color: rgb(50,150,150);
}

.fotoNavWrapper {
	width: 100%;
	margin: auto;
	padding-top: 50px;
}

ul.fotonav {
	display: block;
	background-color: gray;
}

ul.fotonav li {
	float: left;
}

ul.fotonav li a, .dropbtn {
  width: 100px;
	color: red;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.home {
	position:absolute;
	margin: 10px;
	padding: 3px;
}

main {
	margin: 0 auto;
	text-align: left;
	width: 90%;
	padding-bottom: 68px;
}
	
.galerieheader {
	text-align: center;
	padding: 15px;
}

.galerie {
	margin: auto;
	display: block;
	max-width: 1400px;
}

.galeriecontainer {
	margin: 2px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: gray;
	float: left;
	width: 16%;
	height: 150px; /* wird eh von JS überschrieben */
}

.galeriecontainer:hover {
	border: 1px solid #333;
}

.galeriecontainer:hover img {
	opacity: 1;
}

.bildbeschreibung {
	display: none;
	padding: 8px;
	text-align: center;
}

.galeriecontainer img {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	border-radius: 8px;
	box-sizing: border-box;
}

.galerievollbildhintergrund {	
	display: none;
	position: fixed;
	padding-top: 2.5%;
	left: 0;
	top: 0;
	z-index: 3;
	overflow: auto;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}	

.galerievollbildhintergrund img{
	margin: auto;
	display: block;
	max-height: 100%;
	max-width: 100%;
}

.galerievollbildcontainer {
	display: flex;
	position: relative;
	max-width: 1900px;
	margin: auto;
	width: 80%;
	height: 85%;
}

.bildunterschrift {
	color: white;
	margin: auto;
	text-align: left;
	padding-top: 15px;
	width: 100%;
}
 
#pl {
	position: absolute;
	display: block;
	width: 10%;
	left: 0;
	top: 45%;
	max-width: 64px;
}

#pr {
	position: absolute;
	display: block;
	width: 10%;
	right: 0;
	top: 45%;
	max-width: 64px;
}
	
.galeriefooter {
	clear: both;
	padding: 15px;
}	

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
		float: right;
		margin-right: 200px;
}

.rating span {
    display: inline-block;
    width: 0.9em;
    font-size: 1.8em;
    color: #ccc;
    cursor: pointer;
    text-shadow: 0 0 1px #666;
}

.rating span:hover,
.rating span:hover ~ span {
    color: gold;
    text-shadow: 0 0 5px #e2e2e2;
}

.rating span:active,
.rating span:active ~ span {
    color: yellow;
}


footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 68px;
 	background-color: rgba(50,50,50,0.3); 
}

.footer_links {
	position: relative;
	width: 70px;
	float: left;
	padding-left: 5px;
}

.footer_rechts {
	position: relative;
	width: 160px;
	float: right;
	padding-right: 5px;
	text-align: right;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: blue;
}

.clear {
	clear: both;
}

@media (max-width: 1080px) {
	.galeriecontainer {
	width: 24%;
	}
}

@media (max-width: 720px) {
	.galerievollbildcontainer {
		width: 100%;
	}
	.galeriecontainer {
	width: 48%;
	}
}

@media (max-width: 360px) {
	.galeriecontainer {
	width: 100%;
	}
}