body {
	margin: 0px;
	position: absolute;
	width: 100vw;
	min-width: 200px;
	height: 100vh;
}

.background {
	background-color: rgb(185,185,256);
	background-image: url("background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.background_overlay {
	position:absolute;
	background-color: rgba(150,150,150,0.2);
	z-index: -1;
	width: 100%;
	height: 100%;
}

.navigation {
	position:absolute;
	margin: 5px;
	padding: 3px;
	background-color: rgba(50,50,150,0.8);
	right: 5px;
}

.navigation:hover {
  background-color: rgb(50,50,150);
}

main {
	margin: 0 auto;
	margin-bottom: 68px;
	margin-top: 40vh;
	text-align: center;
	width: 90%;
}
	
footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
/* 	background-color: rgba(50,50,50,0.5) */
}

.footer_links {
	position: relative;
	width: 30%;
	float: left;
	padding-left: 5px;
}

.footer_rechts {
	position: relative;
	width: 30%;
	float: right;
	padding-right: 5px;
	text-align: right;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: blue;
}
